
<% last_n = 10 %>
<h3 class="division_title"><%= division_name %></h3>

<table id="<%= division_name.split[0].downcase %>_table">
  <tr class="no-sort">
    <th>Name</th>
    <th>Points</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>OT Losses</th>
    <th>Goals For</th>
    <th>Goals Against</th>
    <th>Goal Diff</th>
    <th colspan="<%= last_n %>">Last <%= last_n %></th>
  </tr>

  <% teams.each do |team| %>
    <tr>
      <td><%= "#{team.city} #{team.name}" %></td>
      <td><%= team.points %></td>
      <td><%= team.wins %></td>
      <td><%= team.losses %></td>
      <td><%= team.ot_losses %></td>
      <td><%= team.goals_for %></td>
      <td><%= team.goals_against %></td>
      <td><%= team.goal_diff %></td>
      <% team.show_last_n(last_n).split('').each do |l| %>
        <td class="last_n last_n_<%= l.downcase %>"><strong><%= l %><strong></td>
      <% end %>
    </tr>
  <% end %>
</table>
